#bodycities{
    background-color: rgb(141, 156, 163);
    background-image: url(picture/saudi-arabia-has-many-of-the-greatest-deserts-in-the-wor-meta-1677727935.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 0px 30px;
    background-size: 100% 550px;
    overflow-x: hidden;

    

}
.city{
    font-size:50px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font: bolder;
    text-align: center;
}
#h2cities{
    background: linear-gradient(rgb(148, 206, 181), rgb(29, 29, 148));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 50px;
    position:relative; 
    top: 410px;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}
#saudimap{
    width: 650px;
    position: relative;
    top: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#tablesport{ 
    border-collapse: collapse;
    width: 90%;
    height: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    

}
#tablesport tr:nth-child(even){
    
    background-color: #f2f2f2;


}
#tablesport tr:nth-child(odd){
    background-color: #ddd;

}

#tablesport th{
    background-color: rgb(255,0,0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;


}
tr,td{
    border-color: black;
    border: 1px solid #000000;
}
#populations{
    padding-right: 30px;
    padding-left: 100px;
    
}