body{
    background-color: rgb(187, 216, 184);
    background-image: url(shutterstock_1645987459_lg37eg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 0px 30px;
    background-size: 100% 550px;
    min-height: 150vh;
    display: flex;
    flex-direction: column;

}
#bodycities{
    background-color: rgb(187, 216, 184);
    background-image: url(saudi-arabia-has-many-of-the-greatest-deserts-in-the-wor-meta-1677727935.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 0px 30px;
    background-size: 100% 550px;
    

}
#bodyvideo{
    background-color: rgb(187, 216, 184);
    background-image: url(shutterstock_1148506721.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 0px 30px;
    background-size: 100% 550px;

}
#bodycontact{
    background-color: rgb(187, 216, 184 );
    background-image: url(saudi-arabia-beaches-1920x1080.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 0px 30px;
    background-size: 100% 550px;
    min-height: 210vh;
    display: flex;
    flex-direction: column;

}
#saudinight{
    background-image: none;
}
#waveflag{
    width: 8%;
    position: absolute;
    top: 5%;
    left: 90%;
}
h1{
    color: rgb(0, 94, 44);
    font-size: 350%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    position: relative;
    top: 40%;
    left:1%;
    
}
#up{
    font-size: 20px;
    position: absolute;
    left: 40%;
    top: 0.1%;
    border-spacing: 19px 5px;
    


}
a{
    text-decoration: none;
    color: #ffff;
    font-family: ;
}

header{




   
  

    
}
#top{
    
}

.city{
    font-size:50px ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: bolder;
}
h2{
    background: linear-gradient(rgb(66, 242, 166), green);
    color: #ffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    position:relative; 
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    top: 410px;
    text-align: center;

}
#h2cities{
    background: linear-gradient(rgb(148, 206, 181), rgb(29, 29, 148));
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    position:relative; 
    top: 410px;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}
#h2contact{
    background: linear-gradient(rgb(148, 206, 181), rgb(29, 29, 148));
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    position:relative; 
    top: 410px;
    text-align: center;
    margin-left: 420px;
    margin-right: 420px; 
}
#saudimap{
    width: 300px;
    position: relative;
    top: 200px;
    left: 1200px;
}
p{
    position:relative; 
    top: 470px;
    text-align: center;

}
#psport{
    position: relative;
    top: 200px;
    text-align: center;
    position: relative;
    top: 420px;
    font-size: 25px;
    background-color: aliceblue;
}
.videos{
    width: 400px;
    height: 30%;
    margin-right: 15px;
    margin-top: 25px;
    margin-left: 15px;
}
#divideo{
    margin-top: 480px;
    margin-bottom: 50px;
    background-color: rgb(194, 236, 197);
    margin-left: 100px;
    margin-right: 100px;

}

form{
    position:relative; 
    top: 470px;
    text-align: center;
}
input, label{
    display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  width: 500px;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  font-style: normal;

}
#tablesport{
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 180px;
    background-color: rgb(189, 255, 127);
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
    border: 1px solid #000000;
    border-spacing: 0px 50px 100px 10px;

}
#tablesport tr:nth-child(even){
    
    background-color: #f2f2f2;


}
#tablesport tr:nth-child(odd){
    background-color: #ddd;

}

#tablesport th{
    padding right: 100px;
    border: 1px solid #000000;
    color: #ffff;
    background-color: rgb(255,0,0);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 50px;
    padding-left:100px;
    border-radius: 5px;
    

}
tr{
    border-color: black;
    border: 1px solid #000000;
}
#populations{
    padding-right: 30px;
    padding-left: 100px;
    
}
    

textarea::placeholder{
    text-align: left;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

}
button{
    width: 70px;
    height: 50px;
    background-color: rgb(61, 50, 216);
    border-radius: 5px;
    color: #ffff;
    font-size: 25px;
    padding: 1px;
    margin-left: 470px;
}
.symbol{
    width: 100px ;
}
footer{
    margin-top: auto;
    background-color: rgb(119, 116, 116);
    color: white;
    text-align: center;
    
}

